* {
  margin: 0%;
  padding: 0%;
}

.paginationRounded-wrapper {
  width: 99%;
  display: flex;
  margin: 2px;
  padding: 2px;
  justify-content: center;
  border: 2px solid #5dacbd;
  background-color: #3f738080;
}
