* {
  margin: 0%;
  padding: 0%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.todo-app-input-parent {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.todo-app-list-parent {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.todo-app-input {
  width: 60%;
  padding: 0.5em;
  margin-top: 6em;
}
.todo-app-input-elem {
  gap: 0.5em;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.todo-app-list {
  padding: 1em;
  width: 70%;
}

.todo-app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo-list {
  width: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.todo-listitem {
  gap: 0.7em;
  display: flex;
  margin: 0.25em;
  padding: 0.25em;
  align-items: center;
  flex-direction: row;
  /* justify-content: center; */
}

.form {
  margin: 0.5em;
  padding: 0.5em;
}

.del-btn-wrapper {
  padding: auto;
}

.edit-btn-wrapper {
  padding: auto;
}

.form {
  gap: 0.8em;
  margin: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
