* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#label {
  font-weight: 400;
  color: #000000;
  font-size: x-large;
  margin-bottom: 20px;
}

#Table {
  width: 98%;
  margin-top: 5.3em;
  margin-left: 0.8em;
  margin-right: 0.8em;
  margin-bottom: 0.8em;
  border: 3px solid #1976d2;
  background-color: #3f738080;
}
#tableImage {
  width: 5em;
  height: 5em;
  border-radius: 15px;
  border: 1px solid black;
}
