* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#label {
  font-size: 1rem;
  color: #5dacbd;
  margin-bottom: 20px;
}