.clock {
  font-weight: 600;
  width: fit-content;
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.Paper{
  width: fit-content;
}

#clockParent {
  display: flex;
  padding: 20px;
  justify-content: left;
  padding-right: 10px;
  width: 100%;
  position: fixed;
}
