.clock {
  font-weight: 600;
  padding-top: 10px;
  width: fit-content;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.Paper {
  width: fit-content;
}

#clockParent {
  width: auto;
  padding: 5px;
  padding-right: 8px;
  color: rgb(33, 21, 136);
}
