* {
  margin: 0%;
  padding: 0%;
}

.home {
  background-color: #e0ebeb;
}
#bg-home {
  height: 100vh;
  margin-top: 4.6em;
  align-items: center;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  background-image: url(https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?auto=compress&cs=tinysrgb&w=600);
}
