* {
  margin: 0%;
  padding: 0%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.profile-outerDiv {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 70px;
  justify-content: center;
  background-color: whitesmoke;
}

.profile {
  height: auto;
  padding: 20px;
  margin: 1em;
  align-self: self-start;
  background: whitesmoke;
}

.main-profile {
  display: flex;
  padding: 10px;
  min-width: 300px;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-profile-avatar {
  align-items: center;
}

.main-profile-cotent {
  color: #5dacbd;
  text-align: left;
}

.main-profile-wrapper {
  gap: 1em;
  display: flex;
  padding: 1.2em;
  min-width: 300px;
  align-items: center;
  flex-direction: column;
}

#update-content-wrapper {
  gap: 0.5em;
  display: flex;
  padding: 1.2em;
  align-items: center;
  flex-direction: column;
  min-width: min-content;
  justify-content: center;
}

#update-content {
  gap: 0.5em;
  display: flex;
  margin: 0.5em;
  padding: 0.5em;
  flex-direction: column;
}

#update-content-button {
  gap: 0.4em;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  flex-direction: row;
  justify-content: space-around;
}

.main-profile-details {
  display: flex;
  padding: 10px;
  min-width: 300px;
  flex-direction: column;
  justify-content: space-evenly;
}
