* {
  margin: 0;
  padding: 0;
}

.mainNavbar {
  color: blue;
  background: rgb(130, 130, 255);
  height: auto;
  width: auto;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
